.LargestDiv {
  width: 100vw;
}
.backgc {
  background-color: aquamarine;
}

.GridColumnBackground {
  margin: 0 !important;
  padding: 0 !important;
}
.GridBackground {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
}

.MainSidebar {
  background-color: #4e4e4e !important;
  width: 250px !important;
}

.MainSmallSidebar {
  background-color: #4e4e4e !important;
  width: 65px !important;
}

.SmallSidebarIconText {
  margin-top: 7px;
  margin: 7px 0px 0px 0px;
  font-size: 12px;
  text-align: center;
}

.Banner {
  background-color: #005ecf;
  height: 48px;
  color: white !important;
  width: 100%;
}
.BannerTitle {
  padding-left: 1%;
  padding-top: 0.5%;
}

.ButtonSegment {
  flex-wrap: nowrap !important;
  width: max-content;
}
.ButtonSegment:hover {
  background-color: #005ecf !important;
  color: white !important;
}

.SegmentTitle {
  color: #005ecf;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.SegmentHeader {
  color: black;
  text-decoration: underline;
}

.MainGrid {
  width: 100%;
  margin: 0 !important;
}

.SidebarPusher {
  margin-left: 250px;
  width: calc(100% - 250px);
}
.SidebarSmallPusher {
  width: calc(100% - 150px);
}

.HomeBody {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
}

.SidebarGap {
  height: 50%;
}

.SidebarSmallGap {
  height: 40%;
}

.SidebarSmallGapFullscreen {
  height: 45%;
}

.SidebarMenuItem {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.SidebarWordsSmall {
  font-size: 9px;
}

.SidebarMenuItemSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SidebarBrandLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.SidebarMenuItemOverall {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.SidebarItemsTop {
  margin-bottom: auto;
}
.SidebarMenuItemBottom {
  margin-top: auto;
}
.SmallSidebarBrandLogo {
  padding: 13px 0px 13px 0px !important;
  width: 50px !important;
  align-self: center;
}

.SidebarItem {
  font-size: 18px;
  font-weight: 100;
}

.trial {
  background-color: aquamarine;
}
